@using ECom.Shared.Constants
@inherits BaseValueChangedComponent<string>

<div class="mb-2">
  <RadzenFormField class="my-2 w-100" Component="@Name" Text="@Text" Variant="Variant.Filled">
    <RadzenPassword @bind-Value="Value" Name="@Name"></RadzenPassword>
  </RadzenFormField>
  @if (ApplyValidators) {
    <StringLengthValidator Component="@Name" ValidationType="ValidationType.Password"></StringLengthValidator>
    <RequiredValidator Component="@Name" ValidationType="ValidationType.Password" ></RequiredValidator>
  }

</div>

@code {


  [Parameter]
  public bool ApplyValidators { get; set; } = true;

  [Parameter]
  public string? Text { get; set; }

  [Parameter]
  public string? Name { get; set; }

  protected override void OnInitialized() {
  }

  protected override void OnParametersSet() {
    if (string.IsNullOrEmpty(Text)) {
      Text = Loc["password"];
    }
    if (string.IsNullOrEmpty(Name)) {
      Name = "Password";
    }
    base.OnParametersSet();
  }

  //[Parameter]
  //public bool Visible { get; set; } = true;
}