@using ECom.Domain.Entities
@using System.Globalization
@using ECom.Domain.Entities
@using System.Globalization
@using ECom.Domain.Abstract.Services.Admin
@inherits BaseValueChangedComponent<string>

@inject IAdminRoleService RoleService

<div class="mb-2">
  <RadzenFormField class="my-2 w-100" Component="RoleId" Text="@Loc["role"]" Variant="Variant.Filled">
    <RadzenDropDown @bind-Value="Value" Name="RoleId" TValue="string" Data="@roles" ValueProperty="@nameof(Role.Id)" TextProperty="@nameof(Role.Id)" Culture="CultureInfo.CurrentCulture"/>
  </RadzenFormField>
  <RadzenRequiredValidator Component="RoleId" Text="@Loc["required"].Format("name", Loc["role"])"></RadzenRequiredValidator>
  @*<RadzenCustomValidator Component="RoleId" Text="@Loc["required"].Format("name",Loc["role"])" Validator="IsValid"></RadzenCustomValidator>*@
</div>

@code {
  private List<Role> roles;

  protected override void OnInitialized() {
    roles = RoleService.GetRoles();
  }

  private bool IsValid() {
    return roles.Any(r => r.Id == Value);
  }

}